{% extends 'base.html' %}
{% load static %}
{% block title %}Clases y Videos{% endblock %}

{% block content %}
<div class="row row-cols-1 py-3">
  <div class="col">
    <h1 class="text-center text-md-start titulo_registro">Videos de Clases</h1>
  </div>
  <div class="col">
    <p class="text-center text-md-start">En esta sección encontrarás las clases y videos disponibles para visualizar.</p>
  </div>
</div>

<div class="row">
  <div class="col-12 mb-4">
    <form method="get" class="form-inline">
      <div class="row">
        <div class="col col-md-2 mb-2">
          {{ filter_form.fecha_desde.label_tag }}
          {{ filter_form.fecha_desde }}
        </div>
        <div class="col col-md-2 mb-2">
          {{ filter_form.fecha_hasta.label_tag }}
          {{ filter_form.fecha_hasta }}
        </div>
        <div class="col mb-2">
          {{ filter_form.disertante.label_tag }}
          {{ filter_form.disertante }}
        </div>
        <div class="col col-md-auto mb-2">
          {{ filter_form.clasificacion_tematica.label_tag }}
          {{ filter_form.clasificacion_tematica }}
        </div>
      </div>
      <div>
        <p class="text-center text-md-start mb-0 fw-light lh-sm">
          <small>Puedes filtrar por fecha de publicación, disertante y área temática si lo deseas. No es necesario completar todos los campos.</small>
        </p>
      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-end">
          <button type="submit" class="btn btn-primary mt-0">Filtrar</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  {% for video in clases_videos %}
    <div class="col-sm-12 col-md-4 mb-4"> <!-- Cambiado de col-md-6 a col-md-4 -->
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{{ video.titulo }}</h5>
          <p class="card-text mb-0"><strong>Disertante:</strong> {{ video.disertante.get_full_name }}</p>
          <p class="card-text mb-0"><strong>Área Temática:</strong>
            {% for clasificacion in video.clasificaciones_tematicas.all %}
              {{ clasificacion.get_seccion_display }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </p>
          <p class="card-text"><strong>Fecha de Publicación:</strong> {{ video.fecha_publicacion }}</p>
        </div>
        <div class="embed-responsive embed-responsive-16by9 mb-3 mb-md-0 mb-lg-3"> <!-- Ajustado el max-width a 100% -->
          <iframe class="embed-responsive-item" src="{{ video.embed_url }}" allow="autoplay; fullscreen" allowfullscreen style="width: 100%; height: 100%;"></iframe>
        </div>
        <div class="card-footer">
          <small class="text-muted">{{ video.descripcion }}</small>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}