{% extends 'base.html' %}
{% block title %}Evaluación de {{ residente.user.first_name }} {{ residente.user.last_name }}{% endblock %}

{% block content %}
<div class="container py-3">
    <div class="row row-cols-1">
        <div class="col">
            <h3 class="titulo_registro text-center text-md-start mb-0">Residente: {{ residente.user.first_name }} {{ residente.user.last_name }}</h3>
        </div>
        <div class="col">
            <h5 class="text-muted text-center text-md-start">Nota Promedio: {{ promedio|default_if_none:"N/A"|floatformat:2 }}</h5>
        </div>
    </div>
</div>
<div class="container">
    <div class="list-group">
        <div class="row row-cols-1 row-cols-lg-2 g-3">
            {% for evaluacion in evaluaciones %}
            <div class="col">
                <div class="list-group-item">
                    <p class="mb-1"><strong>Nota:</strong> {{ evaluacion.nota }}</p>
                    <p class="mb-1"><strong>Aspecto Positivo:</strong> {{ evaluacion.aspecto_positivo }}</p>
                    <p class="mb-1"><strong>Aspecto Negativo:</strong> {{ evaluacion.aspecto_negativo }}</p>
                    <small class="text-muted">Fecha: {{ evaluacion.fecha }}</small>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="py-3 text-end">
        <a href="{% url 'asistencia:evaluados' %}" class="btn btn-primary">Volver</a>
    </div>
</div>
{% endblock %}
