{% extends 'base.html' %}
{% load static %}
{% block title %}Evaluación periódica{% endblock %}
{% block content %}

<div class="container py-3">
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col">
      <h2 class="titulo_registro">Evaluación periódica</h2>
      <p class="fw-normal lh-sm"><small>En este formulario se evaluará el desempeño de los residentes en el periodo actual.</small></p>
    </div>
    <div class="col">
      <form method="get">
        <div class="row justify-content-center justify-content-md-end py-3">
          <div class="col-auto">
            {{ seleccionar_ano_form.año }}
            <small class="form-text text-muted">{{ seleccionar_ano_form.año.help_text }}</small>
          </div>
          <div class="col-auto align-self-center">
            <button type="submit" class="btn btn-secondary">Filtrar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  
  {% if messages %}
  <div class="d-flex justify-content-center">
    <div id="liveAlertPlaceholder" class="col-12 col-md-auto mt-3 text-center">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  
  {% if form %}
  <div class="row row-cols-1">
    <form method="post" class="py-3">
      {% csrf_token %}
      <div class="col-md-6 col-lg-4">
        <div class="mb-3">
          <label for="{{ form.residente.id_for_label }}" class="form-label">{{ form.residente.label }}</label>
          {{ form.residente }}
        </div>
      </div>
      <div class="col">
        <div class="row row-cols-md-1 row-cols-lg-2">
          <div class="mb-3">
            <label for="{{ form.aspecto_positivo.id_for_label }}" class="form-label">{{ form.aspecto_positivo.label }}</label>
            {{ form.aspecto_positivo }}
          </div>
          <div class="mb-3">
            <label for="{{ form.aspecto_negativo.id_for_label }}" class="form-label">{{ form.aspecto_negativo.label }}</label>
            {{ form.aspecto_negativo }}
          </div>
        </div>
        <div class="mb-3 d-flex justify-content-center justify-content-md-start">
          <div class="col-3">
            <label for="{{ form.nota.id_for_label }}" class="form-label">{{ form.nota.label }}</label>
            {{ form.nota }}
          </div>
        </div>
      </div>
      <div class="container col">
        <div class="row justify-content-center justify-content-md-end py-3">
          <button type="submit" class="col-auto btn btn-success me-2" name="continuar">Evaluar y continuar</button>
          <button type="submit" class="col-auto btn btn-primary me-2" name="finalizar">Finalizar Evaluación</button>
          <a href="{% url 'home' %}" class="col-auto btn btn-danger">Salir sin Evaluar</a>
        </div>
      </div>
    </form>
  </div>
  {% endif %}
</div>

{% endblock %}
