{% extends "basedos.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<div class="container-fluid py-3 pb-0">
  <div class="d-md-flex justify-content-between align-items-center flex-column flex-md-row">
    <div class="text-center mb-2 mb-md-0">
      <p class="lead mb-0">¡Hola, {{ user.first_name }}!</p>
    </div>
    <div class="text-center">
      <form method="post" action="{% url 'cerrar_sesion' %}" class="mr-2">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary btn-sm">Cerrar sesión</button>
      </form>
    </div>
  </div>
</div>
{% endif %}
<div class="container text-center">
  <div class="d-flex flex-column flex-md-row align-items-center justify-content-center py-3">
    {% if user.is_authenticated and user.residente_profile %}
    <div class="col-12 col-md-6">
      <h1 class="bienvenida display-3">¡Sigamos aprendiendo juntos!</h1>
      <p class="lead">Aquí podrás ver tus asistencias registradas y gestionar tus actividades dentro de la residencia.
      </p>
    </div>
    {% elif user.is_authenticated and user.docente_profile %}
    <div class="col-12 col-md-6">
      <h1 class="bienvenida display-3">¡Bienvenido!</h1>
      <p class="lead">Aquí podrás obtener información sobre los residentes y gestionar sus actividades.</p>
    </div>
    {% elif user.is_authenticated and user.administrativo_profile %}
    <div class="col-12 col-md-6">
      <h1 class="bienvenida display-3">¡Bienvenido!</h1>
      <p class="lead">Aquí podrás administrar toda la información relacionada con la residencia.</p>
    </div>
    {% else %}
    <div class="col-12 col-md-6">
      <h1 class="bienvenida display-3">¡Bienvenido!</h1>
      <p class="lead">Esta es la página de la residencia en diagnóstico por imágenes de Diangóstico Médico.</p>
    </div>
    {% endif %}
    <div class="col-12 col-md-6">
      <img src="{% static 'images/dibujo-residentes-dos.jpeg' %}" class="img-fluid" width="85%"
        alt="Dibujo de residentes">
    </div>
  </div>
  <div class="development">
    <h2 class="display-6">¡Estamos en desarrollo!</h2>
    <p class="lead">Estamos trabajando arduamente para mejorar esta página. ¡Mantente atento a las próximas
      actualizaciones!</p>
  </div>
</div>
{% if user.is_authenticated %}
{% if user.docente_profile or user.administrativo_profile %}
<div class="container text-center py-3">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="#">Control de asistencias</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Panel de seguimiento</a>
    </li>
  </ul>
</div>
{% else %}
<div class="container text-center py-3">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'asistencia:asistencias_registradas' %}">Ver asistencias</a>
    </li>
  </ul>
</div>
{% endif %}
{% else %}
<div class="container text-center py-3">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'seleccion_tipo_usuario' %}">Registrarse</a>
    </li>
  </ul>
</div>
{% endif %}
{% endblock %}