{% extends "basedos.html" %}
{% load static %}

{% block content %}
<nav class="navbar navbar-expand-md navbar-light" style="background-color: transparent;">
  <div class="container-fluid">
    {% if user.is_authenticated %}
    <p class="lead mb-0">¡Hola, {{ user.first_name }}!</p>
    {% endif %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
        {% if user.docente_profile %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'asistencia:control_asistencia' %}">Control de asistencias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'asistencia:ateneo_evaluacion_list' %}">Evaluaciones de ateneos</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="{% url 'asistencia:evaluados' %}">Residentes evaluados</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="{% url 'asistencia:evaluacion_periodica_crear' %}">Evaluación periódica</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'asistencia:clases_videos' %}">Clases</a>
        </li>
        {% endif %}
        {% if user.administrativo_profile %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'asistencia:control_asistencia' %}">Control de asistencias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'asistencia:residentes_list' %}">Gestión de residentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'asistencia:ateneo_evaluacion_list' %}">Evaluaciones de ateneos</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="{% url 'asistencia:evaluados' %}">Residentes evaluados</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'asistencia:sedes_list' %}">Sedes</a>
        </li>
        {% endif %}
        {% if user.residente_profile %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'asistencia:asistencias_registradas' %}">Ver asistencias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'asistencia:clases_videos' %}">Clases</a>
        </li>
        {% endif %}
        {% if user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'asistencia:control_asistencia' %}">Control de asistencias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'asistencia:residentes_list' %}">Gestión de residentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'asistencia:ateneo_evaluacion_list' %}">Evaluaciones de ateneos</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="{% url 'asistencia:evaluacion_periodica_crear' %}">Evaluación periódica</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="{% url 'asistencia:evaluados' %}">Residentes evaluados</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'asistencia:clases_videos' %}">Clases</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'asistencia:sedes_list' %}">Sedes</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <form method="post" action="{% url 'cerrar_sesion' %}">
            {% csrf_token %}
            <button type="submit" class="nav-link">Cerrar sesión</button>
          </form>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'seleccion_tipo_usuario' %}">Registrarse</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% if user.is_authenticated and user.residente_profile %}
<!-- <div class="row row-cols-1 d-flex justify-content-center">
  <div class="col-auto py-3">
    <div class="card border-success">
      <div class="card-body text-success">
        <h5 class="card-title">Evaluación periódica</h5>
        <p class="card-text">Los residentes de primer y segundo año deben completar la evaluación periódica en el siguiente botón:</p>
        <div class="text-end"> 
          <a href="{% url 'asistencia:evaluacion_periodica_crear' %}" class="btn btn-success">Iniciar evaluación</a>
        </div>
      </div>
    </div>
  </div> -->
  <div class="col">
    <div class="d-flex flex-column flex-md-row align-items-center justify-content-center text-center pt-3">
      <p class="text-md-start lead mb-3 mb-md-0 pe-md-2">Para registrar tu asistencia, hacé clic en la siguiente imagen:</p>
      <a href="{% url 'asistencia:registro_asistencia' %}">
        <img src="{% static 'images/icono-asistencia.png' %}" class="img-fluid" style="max-height: 100px;"
          alt="Icono de asistencia">
      </a>
    </div>
  </div>
</div>
{% endif %}
<div class="container text-center">
  <div class="row align-items-center justify-content-center py-3">
    {% if user.is_authenticated and user.residente_profile %}
    <div class="col-12 col-md-6">
      <h1 class="bienvenida display-3">¡Sigamos aprendiendo juntos!</h1>
      <p class="lead">Aquí podrás ver tus asistencias registradas y gestionar tus actividades dentro de la residencia.
      </p>
    </div>
    {% elif user.is_authenticated and user.docente_profile %}
    <div class="col-12 col-md-6">
      <h1 class="bienvenida display-3">¡Bienvenido!</h1>
      <p class="lead">Aquí podrás obtener información sobre los residentes y gestionar sus actividades.</p>
    </div>
    {% elif user.is_authenticated and user.administrativo_profile %}
    <div class="col-12 col-md-6">
      <h1 class="bienvenida display-3">¡Bienvenido!</h1>
      <p class="lead">Aquí podrás administrar toda la información relacionada con la residencia.</p>
    </div>
    {% else %}
    <div class="col-12 col-md-6">
      <h1 class="bienvenida display-3">¡Bienvenido!</h1>
      <p class="lead">Esta es la página de la residencia en diagnóstico por imágenes de Diangóstico Médico.</p>
    </div>
    {% endif %}
    <div class="col-12 col-md-6">
      <img src="{% static 'images/dibujo-residentes-dos.jpeg' %}" class="img-fluid" width="85%"
        alt="Dibujo de residentes">
    </div>
  </div>
  <!-- {% if user.is_superuser %}
  <div class="row justify-content-center py-3">
      <div class="col-12 col-md-8">
        <div class="card border-info">
          <div class="card-body text-info">
            <h5 class="card-title">¡Tu contribución es importante!</h5>
            <p class="card-text">Para el aprendizaje continuo, es crucial mantener actualizada la base de datos con casos interesantes. Por favor, contribuye añadiendo nuevos casos.</p>
            <div class="text-end">
              <a href="{% url 'casos_interesantes_db:buscar_paciente' %}" class="btn btn-info">Añadir nuevo caso</a>
            </div>
          </div>
        </div>
      </div>
  </div>
  {% endif %} -->
  <div class="development pb-md-3">
    <h2 class="display-6">¡En proceso de desarrollo!</h2>
    <p class="lead">Estamos trabajando para mejorar esta página. ¡Mantente atento a las actualizaciones!</p>
  </div>
</div>
{% endblock %}