{% extends 'base.html' %}
{% load static %}
{% block title %}Control de asistencia{% endblock %}

{% block content %}
<div class="container d-flex flex-column flex-md-row justify-content-center py-3">
    <div class="container col-12 col-md-4 text-center text-md-start">
        <h5 class="titulo_registro">Control de asistencias</h5>
        <p class="fw-normal lh-sm"><small>Aquí se gestionará el seguimiento de las asistencias de los residentes.</small></p>
    </div>
    <div class="container-fluid text-end col-12 col-md-8">
        <form method="GET" class="d-flex align-items-end justify-content-center justify-content-md-end mb-2">
            <label for="dia" class="me-2 align-self-center">Seleccionar</label>
            <div class="form-group me-2">
                <input type="date" class="form-control" id="dia" name="dia" value="{{ dia }}">
            </div>
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </form>
        {% if dia %}
        <div class="d-flex justify-content-center justify-content-md-end">
            <h6 class="text-center text-md-start fs-5 fs-md-3">Asistencias registradas del día {{ dia|date:"d/m/Y" }}</h6>
        </div>
        {% endif %}
        <!-- Botón para seleccionar al azar -->
        <div class="d-flex justify-content-center justify-content-md-end">
            <button onclick="selectRandomResident()" class="btn btn-info">Elegir Residente</button>
        </div>
    </div>
</div>

<div class="container col-12 col-md-8 mb-5">
    <table class="table text-center" id="attendanceTable">
        <thead class="table-secondary">
            <tr>
                <th scope="col">Residente</th>
                <th scope="col">Año</th>
                <th scope="col">Hora</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for registro in control_asistencia %}
            <tr data-resident-id="{{ registro.residente.id }}" class="{% if registro.llegada_tarde %}table-danger{% else %}table-success{% endif %}">
                <td class="p-1">{{ registro.residente }}</td>
                <td class="p-1">{{ registro.residente.gruposresidentes_set.first.año }}</td>
                <td class="p-1">{{ registro.hora|time:"H:i" }}</td>
                <td class="p-1">{% if registro.llegada_tarde %}Llegada tarde{% else %}A tiempo{% endif %}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No hay registros de asistencia para el día seleccionado.</td>
            </tr>
            {% endfor %}
        </tbody>        
    </table>
</div>

<!-- Modal para mostrar el nombre del residente seleccionado -->
<div class="modal fade" id="randomResidentModal" tabindex="-1" aria-labelledby="randomResidentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="randomResidentModalLabel">Residente Seleccionado</h5>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body">
                <p id="selectedResidentName">Ningún residente ha sido seleccionado.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>
    // Array para almacenar los IDs de los residentes ya seleccionados
    let selectedResidents = [];
    let allResidents = [];
    
    document.addEventListener('DOMContentLoaded', function() {
        const rows = document.getElementById('attendanceTable').getElementsByTagName('tbody')[0].getElementsByTagName('tr');
        allResidents = Array.from(rows).map(row => ({
            id: row.dataset.residentId, // Asegúrate de añadir este data attribute a cada fila en el servidor
            name: row.cells[0].textContent
        }));
    });
    
    function selectRandomResident() {
        // Filtrar para obtener residentes que no han sido seleccionados todavía
        const availableResidents = allResidents.filter(resident => !selectedResidents.includes(resident.id));
    
        if (availableResidents.length === 0) {
            // Si todos los residentes han sido seleccionados, reiniciar la lista
            selectedResidents = [];
            alert('Todos los residentes han sido seleccionados. Reiniciando la lista...');
            return selectRandomResident(); // Recursivamente seleccionar otro residente
        }
    
        const randomIndex = Math.floor(Math.random() * availableResidents.length);
        const selectedResident = availableResidents[randomIndex];
        selectedResidents.push(selectedResident.id); // Guardar el ID del residente seleccionado
    
        document.getElementById('selectedResidentName').innerText = 'El residente seleccionado es: ' + selectedResident.name;
        $('#randomResidentModal').modal('show');
    }
    </script>    
{% endblock %}
