{% extends "base.html" %}
{% block content %}
<div class="container text-start py-5 vh-100">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            <h5 class="mb-3 text-center">Registro de Asistencia</h5>
            {% if messages %}
            <div class="alert alert-danger text-center">
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            <form id="registroForm" method="post" class="mb-3">
                {% csrf_token %}
                {{ form.latitud.as_hidden }}
                {{ form.longitud.as_hidden }}
                <div class="text-end">
                    <button type="submit" class="btn btn-primary mb-3">Presente</button>
                </div>
                <div id="spinner" class="spinner-grow mt-3" role="status" style="display: none;">
                    <span class="visually-hidden">Cargando...</span>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('registroForm').addEventListener('submit', async function (e) {
        e.preventDefault();
        console.log('Formulario enviado');

        var spinner = document.getElementById('spinner');
        spinner.style.display = 'block';  // Muestra el spinner

        if (navigator.geolocation) {
            try {
                var position = await new Promise(function (resolve, reject) {
                    navigator.geolocation.getCurrentPosition(resolve, reject);
                });

                var lat = position.coords.latitude;
                var lon = position.coords.longitude;
                console.log('Latitud:', lat, 'Longitud:', lon);

                var form = document.getElementById('registroForm');
                form.latitud.value = lat;
                form.longitud.value = lon;

                form.submit();  // Envía el formulario de la manera tradicional
            } catch (error) {
                console.error('Error al obtener la posición:', error);
                spinner.style.display = 'none';  // Oculta el spinner
            }
        } else {
            console.log("La Geolocalización no está disponible en este navegador.");
            spinner.style.display = 'none';  // Oculta el spinner
        }
    });
</script>
{% endblock %}