{% extends 'basedos.html' %}
{% block content %}
<div class="container">
    <h2 class="my-4">Restablecer contraseña</h2>
    {% if validlink %}
        <p>Por favor, introduce tu nueva contraseña:</p>
        <form method="post" class="mb-3">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Cambiar mi contraseña</button>
        </form>
    {% else %}
        <p class="text-danger">El enlace de restablecimiento de contraseña no es válido o ha expirado.</p>
    {% endif %}
</div>
{% endblock %}