{% extends "base.html" %}
{% block title %}Detalles del Caso{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <!-- Detalles del caso -->
            <div class="card">
                <div class="card-header bg-primary text-white text-center">
                    <h2 class="card-title mb-0">Detalles del caso</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <!-- Información del paciente -->
                        <div class="col-md-6">
                            <div class="card mb-3 shadow-sm">
                                <div class="card-header bg-light text-center">
                                    <h5 class="card-title mb-0"><i class="bi bi-person"></i> Paciente</h5>
                                </div>
                                <div class="card-body">
                                    <p><strong>Nombre:</strong> {{ caso.paciente.nombre }} {{ caso.paciente.apellido }}
                                    </p>
                                    <p><strong>DNI:</strong> {{ caso.paciente.dni }}</p>
                                    <!-- <p><strong>Edad:</strong> {{ caso.paciente.edad }} años</p> -->
                                    <!-- Otros campos relevantes del paciente -->
                                </div>
                            </div>
                        </div>

                        <!-- Información del estudio -->
                        <div class="col-md-6">
                            <div class="card mb-3 shadow-sm">
                                <div class="card-header bg-light text-center">
                                    <h5 class="card-title mb-0"><i class="bi bi-file-earmark-medical"></i> Estudio</h5>
                                </div>
                                <div class="card-body">
                                    <p><strong>ID Estudio:</strong> {{ caso.id_estudio }}</p>
                                    <p><strong>Sede:</strong> {{ caso.sede }}</p>
                                    <p><strong>Fecha:</strong> {{ caso.fecha|date:"d/m/y" }}</p>
                                    <p><strong>Tipo de Estudio:</strong>
                                        {% if caso.tipo_estudio == "RX" or caso.tipo_estudio == "US" %}
                                        {{ caso.get_tipo_estudio_display }}
                                        {% elif caso.tipo_estudio == "RM" %}
                                        {% if caso.contraste_ev %}
                                        {{ caso.get_tipo_estudio_display }} con contraste endovenoso.
                                        {% else %}
                                        {{ caso.get_tipo_estudio_display }} sin contraste.
                                        {% endif %}
                                        {% else %}
                                        {% if caso.contraste_ev and caso.contraste_or %}
                                        {{ caso.get_tipo_estudio_display }} con contraste endovenoso y oral.
                                        {% elif caso.contraste_ev %}
                                        {{ caso.get_tipo_estudio_display }} con contraste endovenoso.
                                        {% elif caso.contraste_or %}
                                        {{ caso.get_tipo_estudio_display }} con contraste oral.
                                        {% else %}
                                        {{ caso.get_tipo_estudio_display }} sin contraste.
                                        {% endif %}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Información anatómica en tarjetas divididas -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card mb-3 shadow-sm">
                                <div class="card-header bg-light text-center">
                                    <h5 class="card-title mb-0"><i class="bi bi-folder-symlink"></i> Clasificación del caso</h5>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p><strong>Región Anatómica:</strong> {{ caso.region_anatomica }}</p>
                                            <p><strong>Sistema:</strong> {{ caso.sistema }}</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p><strong>Órgano:</strong> {{ caso.organo }}</p>
                                            <p><strong>Especialidad:</strong> {{ caso.especialidad }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    

                    <!-- Descripción del caso -->
                    <div class="card mb-3 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title"><i class="bi bi-file-earmark-text"></i> Descripción del caso</h5>
                            <p><strong>Descripción:</strong> {{ caso.descripcion }}</p>
                            <p><strong>Hallazgos:</strong> {{ caso.hallazgos }}</p>
                            <p><strong>Fragmento del Informe:</strong> {{ caso.fragmento_informe }}</p>
                            <p><strong>Etiquetas:</strong>
                                {% for etiqueta in caso.etiquetas.all %}
                                <span class="badge bg-secondary">{{ etiqueta.name }}</span>
                                {% endfor %}
                            </p>
                        </div>
                    </div>

                    <!-- Imágenes del caso -->
                    <div class="card mb-3 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title"><i class="bi bi-images"></i> Imágenes del caso</h5>
                            <div class="row">
                                {% for imagen in caso.imagenes.all %}
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img src="{{ imagen.imagen.url }}" class="img-fluid rounded"
                                            alt="Imagen del Caso">
                                    </div>
                                </div>
                                {% empty %}
                                <p class="text-center">No hay imágenes disponibles para este caso.</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Botones de acción -->
            <div class="text-end mt-3 mb-5">
                <a href="{% url 'casos_interesantes_db:lista_casos_interesantes' %}" class="btn btn-secondary btn-sm">
                    <i class="bi bi-arrow-left-circle"></i> Volver
                </a>
                <a href="{% url 'home' %}" class="btn btn-primary btn-sm">
                    <i class="bi bi-house-door"></i> Ir a Inicio
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}