{% extends 'imat/pagina_base_imat_dos.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Registro Exitoso{% endblock %}

{% block content %}
<div class="container mt-5" style="max-width: 500px;">
    <div class="card shadow-sm" style="border: none;">
        <div class="card-body p-4">
            <h3 class="card-title text-center mb-4" style="color: #d9534f;">¡Registro exitoso!</h3>
            <p class="lead text-center">Tu cuenta ha sido creada con éxito. Ahora puedes iniciar sesión para acceder a tu perfil y a los recursos disponibles.</p>
            <p class="text-center">Si tienes algún problema, no dudes en <a href="mailto:ensofermincejas@gmail.com" class="text-decoration-none" style="color: #d9534f;">contactarnos</a>.</p>
            <div class="text-center">
                <a href="{% url 'login_imat' %}" class="btn btn-danger btn-lg mt-3">Iniciar sesión</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}