{% extends 'drcejas.html' %}
{% load static %}
{% block title %}Seleccionar Empresa{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="text-center mb-4">
        <h2 class="display-6">Seleccionar Empresa</h2>
        <p class="text-muted">Elige la empresa con la cual vas a trabajar para esta sesión</p>
    </div>

    <form method="POST" class="mx-auto" style="max-width: 400px;">
        {% csrf_token %}
        <div class="mb-3">
            <select name="empresa" id="empresa" class="form-select">
                {% for empresa in empresas %}
                <option value="{{ empresa.id }}">{{ empresa.nombre }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="d-grid">
            <button type="submit" class="btn custom-btn btn-lg">Seleccionar</button>
        </div>
    </form>
</div>
{% endblock %}