/* Estilos generales de la cabecera */
header.container-fluid {
    color: white;
    background-color: #3D5DAA;
    padding: 12px;
}

header h1 {
    font-family: nimbus-sans, sans-serif;
    font-size: 2.5vw;
    font-weight: 900;
    margin: 0;
}

main.container {
    min-height: 63vh;
    height: auto;
}

.logodm img {
    max-width: 200px;
    min-width: 90px;
    width: 15vw;
}

.cambiar_contraseña {
    font-size: x-small;
}

.bienvenida {
    color: #1C58A6;
    font-family: nimbus-sans, sans-serif;
    font-size: bold;
}


/* Estilos de la cabecera en pantallas pequeñas */

@media (max-width: 768px) {
    header h1 {
        font-size: 3.5vw;
        margin-top: 5px;
        text-align: center;
    }
    
    .logodm img {
        width: 80px;
    }
}

@media (min-width: 769px) {
    header h1 {
        margin-left: 10px;
        text-align: left;
    }
}

/* Estilos de la barra del usuario */

.barra-usuario {
    background-color: #F2F2F2;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Estilos del pie de página */

#spinner {
    display: none;
}

.pie-de-pagina {
    background-color: #F2F2F2;
}

/* Estilos - lista de registros */

.lista-registro {
    max-height: 250px; width: 100%;
}

/* Estilos - listas de residentes */

#myTable_length, #myTable_filter, #myTable_info, #myTable_paginate {
   font-size: 0.8em;
   padding: 10px;
}

#myTable_info {
    display: none;
}

#myTable thead th {
    font-size: 0.8em;
}

#myTable tbody td {
    font-size: 0.8em;
}

/* Estilos - de la lista de clases */

/* Estilos - de los formularios de registro */
.titulo_registro {
    color: #1C58A6;
    font-family: nimbus-sans, sans-serif;
    font-size: bold;
}

#registroForm .errorlist {
    color: red;
    border: 1px solid red;
    padding: 10px;
    border-radius: 5px;
    list-style-type: none; /* Elimina la viñeta */
    text-align: center; /* Centra el texto */
}

#registroForm label {
    display: flex;
    margin-bottom: 5px;
    margin-right: 10px;
}

#registroForm p {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}

#registroForm input[type="text"], 
#registroForm input[type="password"], 
#registroForm input[type="email"], 
#registroForm input#id_fecha_nacimiento, 
#registroForm input#id_fecha_de_ingreso {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
}

#registroForm p input#id_fecha_nacimiento, 
#registroForm p input#id_fecha_de_ingreso {
    max-width: 250px;
}

@media (max-width: 917px) {
    #registroForm input[type="text"], 
    #registroForm input[type="password"], 
    #registroForm input[type="email"], 
    #registroForm input#id_fecha_nacimiento, 
    #registroForm input#id_fecha_de_ingreso {
        padding: 5px;
    }

    #registroForm p {
        justify-content: space-between;
    }
}
